header{
  height: 50px;
  background-color: darkgrey;
  color:white;
  text-align: center;
  font-size: 32px;
  line-height: 50px;
  font-weight: bold;
}

.wrapper{
  display: flex;
}

.top-left{
  margin: 0 30px;
}

.top-btn{
  height: 30px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: orange;
  display: block;
  width: 200px;
  line-height: 30px;
  text-align: center;
  border-radius: 20px;
}

.content{
  width: 300px;
  height: 60px;
  color:gray;
  background-color: lightgray;
  margin-top: 10px;
}